@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease-in-out;
}

.main{
  height: 85vh;
}

.table-responsive {
  height: 80%;
  overflow-y: auto;
}

.vh-65 {
  height: 65vh;
}

.not-found-status{
  font-size: 15rem;
}